<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.molkov.collapsar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Collapsar.Dark">
        <activity
            android:name=".ui.recentimages.RecentImagesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Collapsar.RecentImages.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.imagedetail.ImageDetailActivity"
            android:parentActivityName=".ui.recentimages.RecentImagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Collapsar.Detail.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.recentimages.RecentImagesActivity" />

        </activity>

        <activity
            android:name=".ui.imagepreview.ImagePreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Collapsar.Preview.Dark" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/share_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/glide_disk_cache_path" />
        </provider>

        <receiver android:name=".utils.download.DownloadReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>